/* App-wide styling. */

div.appcontents {
    position: relative;
    margin: auto;
    padding: 0px;
    padding-top: 1em;
    background: black;
    color: white;
}

/* Gameplay Elements */

div.board {
    background: tan;
    position: relative;
    margin: auto;
}

div.board.paused {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    opacity: 0.4;
}

div.lane {
    top: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    background: cyan;
}

div.cue {
    position: absolute;
}

div.target {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 0px;
    background: grey;
    border-top: 1px solid black;
}

div.target.highlighted.miss {
    background: red;
}

div.target.highlighted.hit {
    background: green;
}

span.prompt {
    display: table-cell;
    height: inherit;
    vertical-align: middle;
    text-align: center;
    font-size: 2em;
}

/* Dialog */

div.dialog {
    position: relative;
    margin: auto;
    background: rgb(50,50,50);
    overflow-y: auto;
}

div.dialog > h1 {
    padding: 20px 20px 0px;
}

div.dialog > p {
    padding: 10px 20px;
}

div.dialog > ul.ratings {
    margin: 5px 3em;
    list-style-type: none;
}

div.dialog span.response {
    margin-left: 5px;
}

#completion_code {
    display: block;
    margin: auto;
    background: rgb(80,0,0);
    border: 1px solid black;
    text-align: center;
}

#completion_span {
    white-space: nowrap;
}

/* Feedback */

ul.score {
    width: 90%;
    margin: auto;
    color: black;
    list-style-type: none;
    padding: 0px;
    font-size: 1.1em;
}

ul.score > li {
    position: absolute;
    bottom: 0;
    width: inherit;
}

ul.score > li.hits { text-align: left; }
ul.score > li.misses { text-align: center; }
ul.score > li.streak { text-align: right; }

.log_warning {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 40%;
    background: rgba(150,0,0, 0.7);
    border: 1px solid black;
}

.log_warning p {
    margin: 0.5em;
    padding: 0;
}

.log_warning input {
    margin: 0.5em;
}

img.error {
    display: block;
    margin: 0 auto;
    width: 3.5em;
    height: 3.5em;
}

/* Debug */

div.debug {
    margin: auto;
    text-align: center;
}